html, body{
    margin:0;
    padding:0;
}
@font-face {
    font-family: 'MyriadPro-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('../fonts/MYRIADPRO-REGULAR.woff') format('woff');
    }
    
    @font-face {
    font-family: 'MyriadPro-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Light'), url('../fonts/MyriadPro-Light.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'MyriadPro-Semibold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Semibold'), url('../fonts/MYRIADPRO-SEMIBOLD.woff') format('woff');
    }

    
    
    @font-face {
    font-family: 'MyriadPro-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Bold'), url('../fonts/MYRIADPRO-BOLD.woff') format('woff');
    }

.header{
    width:90vw;
    padding:0 5vh;
    height:94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;

    .logo-img{
        
    }
    ul{
        list-style: none;
        display: flex;
        flex-direction:row;
        margin:0;
        padding: 0;

        li{
            font-family: MyriadPro-Regular;
            font-size: 18px;
            color: #2D2D2D;
            letter-spacing: 0;
            text-align: right;
            padding: 0 15px;
        }
    }
}
h1{
    font-family: MyriadPro-Bold;
    font-size: 44px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 61px;
}
h2{
    font-family: MyriadPro-Semibold;
    font-size: 41px;
    color: #0A4776;
    letter-spacing: 0;
    line-height: 52px;
}
.h2-decoration{
    border: 1px solid #384474;
    width:110px;
    height: 0px;
    margin: 30px 0;
}
h3{
    font-family: MyriadPro-Semibold;
    font-size: 24px;
    color: #282828;
    letter-spacing: 0;
    line-height: 34px;
}
a{
    text-decoration: none;
    cursor: pointer;
}
p{
    font-family: MyriadPro-Regular;
    font-size: 16px;
    color: #979797;
    letter-spacing: 0;
    line-height: 28px;
}
.white-txt{
    color:white;
}
.right-txt{
    text-align: right;
}
.center-txt{
    text-align:center;
}
.btn-orange{
    background: #F0903C;
    padding:15px 40px;
    border-radius:50px;
    font-family: MyriadPro-Bold;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1.4px;
    text-align: center;
    text-transform: uppercase;
    transition:0.2s eas-in;
}
.btn-orange:hover{
    background: #d67928;
}
.btn-white{
    background: #ffffff;
    padding:15px 40px;
    border-radius:50px;
    font-family: MyriadPro-Bold;
    font-size: 16px;
    color: #434343;
    letter-spacing: 1.4px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        margin-right:10px;
    }
}
.separator{
    width:90%;
    height: 1px;
    background-color:#D8D8D8;
    margin: 50px auto;
}
.hamburger{
    display: none;
    font-family: MyriadPro-Regular;
    font-size: 17px;
    color: #282828;
    letter-spacing: 0;
}
.hero{
    width:100%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/hero.jpg");
    background-size: cover;

    h1, p{
        text-align:center;
        max-width: 693px;
    }
    h1{
        margin-bottom:0;
        margin-top:150px;
    }

    .hero-btns{
        display:flex;
        flex-direction:row;

        .btn-white{
            margin-left:20px;
        }
    }
}
.testimonials{
    width:100vw;
    height: auto;
    padding:90px 0;
    display: flex;
    justify-content: center;
    position: relative;

    .control-left, .control-right{
        top:46%;

        span{
            display: none;
        }
    }

    .testimonials-wrapper{
        width:80%;
        min-width: 800px;
        margin:0 auto;
        background: #EDEDED;
        height:auto;
        padding: 50px;
        box-sizing: border-box;

        .single-testimonial{
            p{
                font-family: MyriadPro-Regular;
                font-size: 25px;
                color: #282828;
                letter-spacing: 0;
                text-align: center;
                line-height: 38px;
                max-width: 680px;
                margin:0 auto;

                span{
                    font-family: MyriadPro-Bold;
                    font-size: 25px;
                    color: #0A4776;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 38px;
                }
            }

        }
        .testimonial-cta{
            p{
                font-family: MyriadPro-Regular;
                font-size: 19px;
                color: #282828;
                letter-spacing: 0.42px;
                text-align: center;
            }
            .btn-orange{
                width: 392px;
                margin: 0 auto;
                max-width: 100%;
            }
        }
    }
}
.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:90px;

    .talk-rep-cta{
        margin:30px auto;
        margin-bottom:90px;
    }

    p{
        max-width: 877px;
        margin:0 auto;
    }
}
.services{
    width:80%;
    padding:0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: flex-start;

    .services-left{
        width:60%;
        ol{
            padding-left: 16px;
            margin:0;
        }
        li{
            font-family: MyriadPro-Regular;
            font-size: 16px;
            color: #282828;
            letter-spacing: 0;
            line-height: 36px;
        }
        h2{
            margin-bottom:0;
        }
        .services-ctas{
            display: flex;
            margin-top:40px;

            .btn-orange{
                margin-right:10px;
            }
        }
    }
    .services-right{
        background: #F9F9F9;
        width: 30%;
        min-width:260px;
        padding:25px;
        display: flex;
        justify-content: center;
        margin-top:40px;

        ul{
            list-style: none;
            margin:0;
            padding:0;
            width: 100%;

            li{
                font-family: MyriadPro-Regular;
                font-size: 18px;
                color: #282828;
                letter-spacing: 0;
                line-height: 71px;
                border-bottom:1px solid #E9E9E9;

                img{
                    max-width: 25px;
                    margin-right:20px;
                }
            }
            li:last-child{
                border-bottom:0;
            }
        }
    }
    
}

.control-left{
    position: absolute;
    left: 5%;
    opacity: 0.4;
    cursor: pointer;

    span{
        display: none;
    }
}
.control-right{
    position: absolute;
    right: 5%;
    opacity: 0.4;
    cursor: pointer;

    span{
        display: none;
    }
}
.control-left:hover, .control-right:hover{
    opacity: 1;
}
.appointment-setters{
    position: relative;
    background: #F7F7F7;
    width:80%;
    padding:90px 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .control-left, .control-right{
        top: 56%;
    }

    .setters-wrapper{
        width: 100%;
        overflow: hidden;
    }

    .single-setter{
        background: #FFFFFF;
        padding:50px;
        width:100%;
        max-width: 900px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        max-width:1000px;
        box-sizing: border-box;

        img{
            width:300px;
            height:auto;
            margin-right:30px;
        }
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .setter-name{
            font-family: MyriadPro-Semibold;
            font-size: 24px;
            color: #282828;
            letter-spacing: 0;
            line-height: 23px;
            margin-bottom:15px;
        }
        .setter-quote{
            font-family: MyriadPro-Regular;
            font-size: 19px;
            color: #282828;
            letter-spacing: 0.42px;
            line-height: 26px;
        }

    }
}
.portal-features{
    width:80%;
    padding:90px 10%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    background-color: #0A4776;
    align-items: center;

    h2{
        margin-bottom:0;
    }

    .features-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-top:70px;
        margin-bottom:30px;

        img{
            max-width: 800px;
            height: auto;
            width: 45%;
        }

        .feature{
            width:100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom:20px;

            img{
                width:25px;
            }

            div{
                display: flex;
                flex-direction: column;
                width: calc(~"100% - 40px");
            }

            .feat-title{
                font-family: MyriadPro-Semibold;
                font-size: 18px;
                color: #FFFFFF;
                letter-spacing: 0;
                
            }
            .feat-txt{
                font-family: MyriadPro-Regular;
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                line-height: 21px;
            }
        }
    }
}
.thrive{
    width:80%;
    padding:90px 10%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;

    .thrive-cta-video{
        margin-left: auto;
        margin-right: auto;
        margin-top: -80px;
        z-index: 9;
        position: relative;

    }
    div{
        width:48%;
    }

    .thrive-logo{
        max-height:45px;
    }
    .img-thrive{
        max-width:100%;
    }
}
.home-blog{
    background: #F7F7F7;
    width:80%;
    padding:90px 10%;

    .blog-prev-img{
        background-image:url("../img/blog-photo.jpg");
        background-size: cover;
        width:50%;
        height: 325px;
    }

    .feat-blog{
        background-color:white;
        width:100%;
        display: flex;

        .blog-prev-txt{
            width:50%;
            padding-left:40px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        p{

        }
        h2{
            margin-bottom:0;
            margin-top:0;
        }
    }
    .blog-prevs{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top:40px;
    }
    .blog-prev{
        width:31%;
        background-color:white;
        
        .blog-prev-txt{
            padding:30px;

            h3{
                margin:0;
            }
        }

        .blog-prev-img{
            width:100% !important;
            height: 150px !important;
        }
    }

}
.footer{
    width:80%;
    padding:90px 10%;
    background: #0A4776;
    padding-bottom:0;
    
    .pre-footer{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-between;
        align-content: flex-start;
        border-bottom:1px solid #15588C;
        padding-bottom:40px;

        h2{
            margin-top:0;
        }

        .btn-orange{
            width:140px !important;
        }

        div{
            display: flex;
            flex-direction: column;
            width:15%;
            
        }
        div:first-child{
            width:30%;
        }

        a{
            color:white;
            margin:5px 0;
            font-family: MyriadPro-Regular;
            font-size: 20px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 35px;
        }
    }
    .copyright{
        height: 90px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        img{
            height:20px;
            margin:0 5px;
        }
        p{
            opacity: 0.5;
            font-family: MyriadPro-Regular;
            font-size: 13px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 35px;
        }
    }
}
@media screen and (max-width: 1200px) {
    .logo-img{
        width: 200px;
    }
    .header ul li{
        font-size: 15px
    }

}
@media screen and (max-width: 1024px) {
    .services .services-left {
        width: 100%;
    }
    .services .services-right {
        width: 100%;
    }
    .portal-features .features-wrapper{
        flex-direction: column;
    }
    .row-reverse{
        flex-direction: row !important;
    }
    .right-txt{
        text-align: left;
    }
    .portal-features .features-wrapper img{
        max-width: 500px;
        height: auto;
        width: 90%;
        order: -1;
        margin: 0 auto;
    }
    .portal-features .features-wrapper .feature{
        margin-top:30px;
        flex-direction:row;
    }
    .thrive div{
        width:100%;

        .btn-orange{
            max-width: 250px;
        }
        .thrive-cta-video {
            margin-top: -100px;
        }
    }
    .home-blog .blog-prevs{
        width: 100%;
    }
    .home-blog .blog-prev {
        width: 100%;
        margin-bottom:20px;
    }
    .footer .pre-footer div:first-child {
        width: 100%;
        margin-bottom:30px;
    }
    .home-blog .blog-prevs, .thrive {
        flex-direction: column;
    }
    .testimonials .testimonials-wrapper {
        width: 80%;
        min-width: 80%;
    }
    .section3 .center-txt{
        max-width:80%;
    }
    .hamburger{
        display: flex;
        align-items: center;
        cursor: pointer;

        img{
            margin-right:10px;
        }
    }
    .header {
        ul{
            display: none;
            position: absolute;
            top: 94px;
            width: 250px;
            right: 0;
            background-color: white;

            li{
                padding:20px;
            }
            li:hover{
                backround-colo: #efefef;;
            }
            
        }
    }
}
@media screen and (max-width: 920px) {
    .appointment-setters .single-setter{
        flex-direction: column;

        img{
            margin-bottom:20px;
        }
    }

    .home-blog .feat-blog {
        flex-direction: column;

        .blog-prev-img,{
            width:100%;
        }
        .blog-prev-txt{
            width:auto;
            padding:40px;
        }
    }
}
@media screen and (max-width: 570px) {
    .footer .pre-footer{
        flex-direction: row;

        div{
            width:100%;
        }
    }
    .thrive div .thrive-cta-video {
        margin-top: -77px;
    }
    .testimonials .testimonials-wrapper{
        padding:30px;
    }
    .btn-orange {
        background: #F0903C;
        padding: 15px 20px;
    }
    .testimonials .testimonials-wrapper .testimonial-cta .btn-orange{
        max-width:calc(~"100% - 40px");
    }
    .hero .hero-btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero .hero-btns .btn-white {
        margin-left: 0px;
        margin-top:20px;
        margin-bottom:50px;
    }
    .services .services-left .services-ctas {
        display: flex;
        flex-direction: column;
        margin-top:0;

        .btn-orange{
            margin-right:0;
            margin-top:20px;
        }
    }
    .hero h1 {
        margin-bottom: 0;
        margin-top: 115px;
    }
    .hero h1, .hero p {
        text-align: center;
        max-width: 693px;
    }
    h1 {
        font-size: 35px;
        line-height: 49px;
        max-width: 90%;
    }
    .hero p{
        max-width: 90%;
    }
    .header{
        padding:0;
    }
    .header ul li {
        font-size: 20px;
        text-align: center;
    }
    .header ul{
        width:100%;
    }
    .testimonials {

        .control-left{
            top:95%;
            left:10vw;
        }
        .control-right{
            top:95%;
            right:10vw;
        }
    }
    .appointment-setters .single-setter{
        padding:30px;

        img{
            max-width: 100%;;
        }
    }

    .control-left span, .control-right span{
        display: inline !important;
        margin: 0 10px;
        font-family: MyriadPro-Regular;
        font-size: 14px;
        color: #282828;
        letter-spacing: 0;
    }
    .appointment-setters{
        .control-left{
            top:95%;
            left:10vw;
        }
        .control-right{
            top:95%;
            right:10vw;
        }
    }
}
